In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
csv = pd.read_csv('/content/drive/MyDrive/machine learning/train.csv')
csv.head()

In [ ]:
csv.describe()

In [ ]:
csv.info()

In [ ]:
csv.isnull().sum()

In [ ]:
csv['LoanAmount'] = csv['LoanAmount'].fillna(csv['LoanAmount'].mean())
csv['Loan_Amount_Term']= csv['Loan_Amount_Term'].fillna(csv['Loan_Amount_Term'].mean())
csv['Credit_History']= csv['Credit_History'].fillna(csv['Credit_History'].mean())

In [ ]:
csv.head()

In [ ]:
csv['Gender'] = csv['Gender'].fillna(method= 'ffill')
csv['Married']=csv['Married'].fillna(method='ffill')
csv['Dependents']= csv['Dependents'].fillna(method='ffill')
csv['Self_Employed']= csv['Self_Employed'].fillna(method= 'ffill')

In [ ]:
csv.isnull().sum()

In [ ]:
csv['totalincome']= csv['ApplicantIncome']+csv['CoapplicantIncome']

In [ ]:
csv.head()

    Loan_ID Gender Married  ... Property_Area Loan_Status totalincome
0  LP001002   Male      No  ...         Urban           Y      5849.0
1  LP001003   Male     Yes  ...         Rural           N      6091.0
2  LP001005   Male     Yes  ...         Urban           Y      3000.0
3  LP001006   Male     Yes  ...         Urban           Y      4941.0
4  LP001008   Male      No  ...         Urban           Y      6000.0

[5 rows x 14 columns]

In [ ]:
csv.drop(columns=['CoapplicantIncome'],axis=1)

In [ ]:
sns.countplot(csv['Gender'])

In [ ]:
sns.countplot(csv['Married'])

In [ ]:
sns.countplot(csv['Dependents'])

In [ ]:
sns.countplot(csv['Self_Employed'])

In [ ]:
sns.distplot(csv['LoanAmount'])

In [ ]:
csv['LoanAmount']= np.log(csv['LoanAmount'])

In [ ]:
sns.distplot(csv['ApplicantIncome'])

In [ ]:
csv['ApplicantIncome']= np.log(csv['ApplicantIncome'])

In [ ]:
sns.distplot(csv['CoapplicantIncome'])

In [ ]:
csv['CoapplicantIncome']= np.log(csv['CoapplicantIncome'])

In [ ]:
sns.distplot(csv['Loan_Amount_Term'])

In [ ]:
csv['Loan_Amount_Term']= np.log(csv['Loan_Amount_Term'])
sns.distplot(csv['Loan_Amount_Term'])

In [ ]:
csv['TotalIncome'] = csv['LoanAmount']+csv['CoapplicantIncome']
csv['TotalIncome'].isnull().sum()
csv.head()

In [ ]:
#correlation
corr =csv.corr()
sns.heatmap(corr,annot=True)

In [ ]:
#encoding
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
cols = ['Gender','Married','Dependents','Self_Employed','Education','Loan_Status','Property_Area']

for col in cols:
  csv[col]= le.fit_transform(csv[col])

In [ ]:
csv.head()

In [ ]:
z=csv.drop(columns= ['CoapplicantIncome','Loan_ID'],axis=1)

In [ ]:
z.head(10)

   Gender  Married  Dependents  ...  Loan_Status  totalincome   TotalIncome
0       1        0           0  ...            1       5849.0      4.986426
1       1        1           1  ...            0       6091.0   1512.852030
2       1        1           0  ...            1       3000.0      4.189655
3       1        1           0  ...            1       4941.0   2362.787492
4       1        0           0  ...            1       6000.0      4.948760
5       1        1           2  ...            1       9613.0   4201.587249
6       1        1           0  ...            1       3849.0   1520.553877
7       1        1           3  ...            0       5540.0   2509.062595
8       1        1           2  ...            1       5532.0   1531.123964
9       1        1           1  ...            0      23809.0  10973.855072

[10 rows x 13 columns]

In [ ]:
x = z.drop(columns =['Loan_Status'],axis=1)
y = z['Loan_Status']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state= 42)

In [ ]:
#from sklearn.model_selection import cross_val_score
#def model1(model,x_train,y_train,x_test,y_test):
  #model.fit(x_train,y_train)
  #model.score(x_test,y_test)
  #print("score","=",model.score(x_test,y_test)*100)
  #cross validation
  #cross = print("crossvalidatinscore",cross_val_score(model,x,y,cv=5)*100)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)
print("logistic","regression","score","is","=",model.score(x_test,y_test)*100)

logistic regression score is = 77.27272727272727

In [ ]:
from sklearn.model_selection import cross_val_score
def classify (model,x_train,y_train,x_test,y_test):
  model.fit(x_train,y_train)
  print(model.score(x_test,y_test)*100)
  score =cross_val_score(x,y,cv=5)
  print(np.mean(score)*100)

In [ ]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
classify(model,x_train,y_train,x_test,y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7792207792207793

In [ ]:

from sklearn.metrics import confusion_matrix
Predict =model.predict(x_test)
matrix = confusion_matrix(y_test,Predict)
print(matrix)

[[25 29]
 [ 7 93]]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train,y_train)
predict = model.predict(x_test)

In [ ]:
from sklearn.metrics import mean_absolute_error
error = mean_absolute_error(predict,y_test)
print(error)

0.24025974025974026

In [ ]:
#hyper parameter tuning

In [ ]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[40,80,120],'max_depth':[1,3,5]}
clf =GridSearchCV(model,parameters)

In [ ]:
clf.fit(x_train,y_train)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'max_depth': [1, 3, 5], 'n_estimators': [40, 80, 120]})

In [ ]:
clf.best_params_

{'max_depth': 3, 'n_estimators': 40}

In [ ]:
from sklearn.metrics import mean_absolute_error
model1 = RandomForestClassifier(n_estimators=3,max_depth= 40)
model1.fit(x_train,y_train)

RandomForestClassifier(max_depth=40, n_estimators=3)

In [ ]:
a =model1.predict(x_test)

In [ ]:
mean_absolute_error(a,y_test)

0.2597402597402597

In [ ]:
model1.score(x_test,y_test)*100

74.02597402597402